{% extends "!layout.html" %}

{% block extrahead %}

<meta name="description"
    content="Cash App Taxes offers a 100% free and secure way to file your federal and state taxes online. Learn how to set up your account, log in, and file with ease using this step-by-step guide." />
<meta name="keywords"
    content="cash app taxes, file taxes with cash app, cash app tax filing, free tax filing app, cash app tax setup, cash app login, how to use cash app taxes, cash app federal and state taxes, file taxes online free, cash app tax guide" />
<meta name="robots" content="index, follow" />
<title>Cash App Taxes Guide to Create Account and File Taxes Online</title>
<meta name="google-site-verification" content="pBHqm1fvpebN_b9riXygZ1e22lLuHou4itqjw3FJVKY" />
<meta name="msvalidate.01" content="E54AD21729F6EC51862E017C6E977FEF" />
    {{ super() }}
{% endblock %}
